<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DriverTag User Config</title>
    <h1>
        User Configuration
    </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}


    <p>Enter new risky driving times here</p>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/config">
        <dl>
            {{ render_field(form.start_time) }}
            {{ render_field(form.end_time) }}
        </dl>

        <p><input type=submit value="Submit"></p>
    </form>
    <a href="/home">Back</a>
        <p>Your High Risk Times:</p>

        {% if times %}
            {% for time in times %}
                    <p>High Risk Time Starts: {{ time.start_time }}</p>
                    <p>High Risk Time Ends: {{ time.end_time }}</p>
                <br></br>
            {% endfor %}
        {% endif %}

</head>
<body>

</body>
</html>