{% extends "layout.html" %}

{%  block body %}
    <h1 align="center">Your Report for {{ datas[0].timestamp.strftime("%A, %d %B %Y ") }}</h1>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/dailyReport.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#chart').highcharts({
                chart: {
                    type: 'line',
                    zoomType: 'x'
                },
                title: {
                    text: 'Daily Data'
                },
                xAxis: {
                    categories: {{ timestamps|tojson|safe }}
                },
                yAxis: {
                    allowDecimals: true,
                    title: {
                        text: 'Average Acceleration (g\'s)'
                    }
                },
                plotOptions: {
                    series:{
                        turboThreshold: 5000
                    }
                },
                series: [{
                    name: 'X acceleration',
                    data: {{ x_accel|tojson|safe }}
                }, {
                    name: 'Z acceleration',
                    data: {{ z_accel|tojson|safe }}
                }]
            });
        });

        $(function () {
            $('#chart1').highcharts({
                chart: {
                    type: 'line',
                    zoomType: 'x'
                },
                title: {
                    text: 'Risky Driving Events'
                },
                xAxis: {
                    categories: {{ timestamps|tojson|safe }}
                },
                yAxis: {
                    allowDecimals: true,
                    title: {
                        text: 'Acceleration away from threshold (g\'s)'
                    },
                    plotBands: [{
						from: 0.0,
						to: 0.33,
						color: '#ffffe6',
					},{
						from: 0.33,
						to: 0.66,
						color: '#ffe0cc',
					},{
						from: 0.66,
						to: 1.0,
						color: '#ffcccc',
					}]
                },
                plotOptions: {
                    series:{
                        turboThreshold: 0
                    }
                },
                series: [{
                    name: 'Delta X Acceleration (g\'s)',
                    data: {{ lst|tojson|safe }}
                }]
            });
        });

    </script>
        <div id="container" style="height:800px; position:relative;">
            <div id="chart" style="height:380px; padding-bottom:20px"></div>
            <div id="chart1" style="height:380px;"></div>
        </div>
		{% if maxx %}
			<p>Your set acceleration is {{ maxx }} g's</p>
		{% endif %}


        {% if datas %}
            <input type="button" data-name="hide" value="Show All Numeric Data" id="toggle"
            style="margin-bottom:10px;width:20%;">
            <div id="collapse" style="display:none; padding-bottom:10px;">
                <table id="table" border="1" style="width:50%;">

                    <!-- table headers -->
                    <tr class="header">
                        <th align="center">Timestamp</th>
                        <th align="center">X-Accel</th>
                        <th align="center">Y-Accel</th>
                        <th align="center">Z-Accel</th>
                    </tr>

                    {% if datas %}
                        {% for data in datas %}
                            <tr class="row">
                                <td align="center">{{ data.timestamp }}</td>
                                <td align="center">{{ data.x_accelorometer }}</td>
                                <td align="center">{{ data.y_accelorometer }}</td>
                                <td align="center">{{ data.z_accelorometer }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                </table>
            </div>

        {% else %}

            <p>You have no Data</p>

        {% endif %}
{% endblock %}