<!DOCTYPE html>
<html>
<head>
  <title>@@@-Title-@@@</title>
  <meta name="keywords" content="@@@-Keywords-@@@">
  <meta name="description" content="@@@-Description-@@@">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <script type="text/javascript" src="/scripts/pop_menu.js"></script>
  <script type="text/javascript" src="/scripts/jquery-compat-3.0.0-alpha1.js"></script>
  <!--<script type="text/javascript" src="/scripts/jquery-1.11.3.js">-->
  <script type="text/javascript" src="/scripts/jquery-ui-1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="/scripts/jquery.cookie.js"></script>
  <script type="text/javascript" src="/scripts/form_validation.js"></script>
  <script type="text/javascript" src="/scripts/autocomplete_combobox.js"></script>
  <script type="text/javascript" src="/scripts/core.js"></script>
  <script type="text/javascript" src="/scripts/pchart.js"></script>
  <script type="text/javascript" src="/scripts/message_functions.js"></script>
  <script type="text/javascript" src="/scripts/jquery-single-select.js"></script>
  @@@-Script-@@@
  @@@-RSS-@@@
  @@@-Style-@@@
</head>
<body>

<div id="wrapper">

  <div id="header" style="z-index:1">

    <div class="headercell" id="home_logo"><a href="index.php"><span class="linkspans" style="max-width: 200px;"></span><img src="@@@-Logoplace-@@@" class="sbhide" id="home-logo-image" border="0"><img src="@@@-Logomobileplace-@@@" class="sbshow" border="0"></a></div>
    <div class="headercell">&nbsp;</div>
    <div class="headernav" id="divnav">
      <div id="dropdown"><div class="dropdownmenu">
        <div class="dropdownnav">
	  <form id="logoutform" action="index.php" method="POST"><input type="hidden" name="logout" value="true"></form>
          <p style="margin: 0" onclick="changepage(this.children[0].href);"><a href="index.php?page=myaccount.php" onclick="return false;">My Account</a></p>
          <p style="margin: 0" onclick="this.children[0].click();"><a href="index.php" onclick="$('#logoutform').submit(); return false;">Log Out</a></p>
        </div>
      </div></div>
      <table style="width: 100%"><tr class="headernavcell"><td style="text-align: right"><a href="index.php"><span class="linkspans"></span><img src="images/account.svg" border="0"></a></td><td id="account_log" style="padding-left: .5em" class="sbhide">Account Settings</td></tr></table></div>
    <div class="headernav mmhide"><table style="width: 100%"><tr class="headernavcell"><td style="text-align: right"><a href="@@@-Help-@@@" target="gfohelp"><span class="linkspans"></span><img src="images/help.svg" border="0"></a></td><td style="padding-left: .5em" class="sbhide">Get Help</td></tr></table></div>
    <div class="headernav mmshow"><table style="width: 100%"><tr class="headernavcell"><td style="text-align: right"><a href="index.php" onclick="toggleMobileMenu(); return false;"><span class="linkspans"></span><img src="images/menu.svg" border="0"></a></td></tr></table></div>
    <div class="headernav"><table style="width: 100%"><tr class="headernavcell"><td style="text-align: right"><a href="tel:+@@@-Phonenospace-@@@"><img src="images/call.svg" border="0"></a></td><td style="padding-left: .5em" class="sbhide"><a href="tel:+@@@-Phonenospace-@@@">@@@-Phoneformatted-@@@</a></td></tr></table></div>
  </div>

  <div id="nav">

    <div class="leftnav"><a href="index.php"><span class="linkspans"></span><img src="images/home2.svg" border="0"><br>Home</a></div>
    <div class="leftnav"><a href="index.php?page=preferences.php"><span class="linkspans"></span><img src="images/preferences.svg" border="0"><br>Preferences</a></div>
    <div class="leftnav"><a href="index.php?page=billing.php"><span class="linkspans"></span><img src="images/billing.svg" border="0"><br>Billing</a></div>
    <div class="leftnav" id="libnav">
      <div id="libmenu"><div class="sidebarmenu">
        <div class="sidebarnav">
           <p style="margin: 0" onclick="changepage(this.children[0].href);"><a href="index.php?page=owners_library.php" onclick="return false;">Owners</a></p>
           <p style="margin: 0" onclick="changepage(this.children[0].href);"><a href="index.php?page=footnote_library.php" onclick="return false;">Footnotes</a></p>
        </div>
      </div></div>
      <a href="index.php?page=library_summaries.php" onclick="return false;"><span class="linkspans" onclick="changepage(this.parentNode.href);"></span><img src="images/library.svg" border="0"><br>Libraries</a></div>
    <div class="leftnav"><a href="index.php?page=software.php"><span class="linkspans"></span><img src="images/software.svg" border="0"><br>Software</a></div>
    <div class="leftnav mmshownav"><a href="@@@-Help-@@@" target="gfohelp"><span class="linkspans"></span>Get Help</a></div>

  </div>
  
  <div id="admin_nav" class="leftnavhide">

    <div class="leftnav"><a href="index.php"><span class="linkspans"></span><img src="images/home2.svg" border="0"><br>Home</a></div>
    <div class="leftnav"><a href="index.php?page=preferences.php"><span class="linkspans"></span><img src="images/preferences.svg" border="0"><br>Preferences</a></div>
    <div class="leftnav"><a href="index.php?page=billing.php"><span class="linkspans"></span><img src="images/billing.svg" border="0"><br>Billing</a></div>
    <div class="leftnav"><a href="index.php?page=user_admin.php"><span class="linkspans"></span><img src="images/users.svg" border="0"><br>Users</a></div>
    <div class="leftnav"><a href="index.php?page=notifications.php"><span class="linkspans"></span><img src="images/notifications.svg" border="0"><br>Notifications</a></div>
    <div class="leftnav mmshownav"><a href="@@@-Help-@@@" target="gfohelp"><span class="linkspans"></span>Get Help</a></div>

  </div>  
  
  <div class="redirectfloat">
    <div id="redirectcontent"></div>
    <div class="loading">&nbsp;</div>
    <p id="redirecttext" class="text10" style="margin: auto; text-align:center">Redirecting page.</p>
  </div>
  
  <div id="page">
  
    <div id="impmsg">
    </div>

    <div id="main">
      <div id="nojava" class="dbcontainer">
        <div class="dbcontent">
          <div class="text12">Loading page. If page does not load, please verify that you have JavaScript enabled.</div>
	</div>
      </div>
    </div>


    <div id="footer">
    @@@-Footer-@@@
    </div>
    <div style="margin-left: auto; margin-right: auto; margin-top: 0; width: 100%; max-width: 800px; text-align: center;" class="text8">
@@@-Time-@@@
    </div>

    <div style="margin-left: auto; margin-right: auto; margin-top: 0; width: 100%; max-width: 800px;" class="text8">
@@@-Debug-@@@
    </div>
  </div>

</div>

</body>
</html>